
{% extends "layout.html" %} 
{% block link %}
<link rel="stylesheet" href="../static/css/styleproduits.css"/>
 {% endblock %} 
 
 
 {% block content %} 
 
    <div  class="container">

      <h1>Liste des produits</h1>
      <div class="row">
        <!-- Boucle pour afficher les produits -->
        {% for product in products %}
        <div class="col-md-4">
          <div class="card mb-4">
            <a href="/moreinfo?id={{ product[0] }}">
            <img src="../static/IMG/{{ product.img }}" class="card-img-top" class="img_produits" alt="Image du produit">
          </a>          
            <div class="card-body">
              <h5 class="card-title">{{ product.nom }}</h5>
              <p class="card-text">Prix: {{ product.prix }} €</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
</div>
 {% endblock %}